<!DOCTYPE html>

<meta charset="utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1.0">

<link rel=stylesheet href=/css/custom.css>
<link href='http://fonts.googleapis.com/css?family=Galdeano' rel='stylesheet' type='text/css'>

<title>{% if page.title != 'Ricky' %}{{ site.name }} - {% endif %}{{ page.title }}</title>

<div class="container">
<header>
	<h2><a href="/">Ricky live in Beijing</a></h2>
	<p class="quiet">Product Designer in Beijing. Work to worth a good life. Enjoying movie, music, travel and all kind of good things. </p>
</header>

{% if page.title == 'Ricky' %}
	<h3>Blog posts</h3>
{% else %}
    <h3>{{ page.title }}</h3>
    <span class="quiet">{{ page.date | date_to_string }}</span>
{% endif %}

{{ content }}

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27640015-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
